DB_NAME='defaultdb'
DB_USER='avnadmin'
DB_PASSWORD='AVNS_cx3wnZHvCZYsAE9H5i0'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
DATABASE_URL='mysql://caereaze_6647:<password>@caereaze-6647.mysql.b.osc-fr1.scalingo-dbs.com:31211/caereaze_6647?useSSL=true&verifyServerCertificate=false'

# Optional database variables
# DB_HOST='mysql-6be277d-mohamedlmalki-b02c.c.aivencloud.com'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='https://caereaze.osc-fr1.scalingo.io'
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='cPHAv1+7$dA^{<sJTtWSP1up|h_]0E$F61s.1Rf0:.^-i[oB&8hP/`NEjdx-47Ek'
SECURE_AUTH_KEY='0zV@Q&m,a8TQ!D[t&$ES+=u!S*fR^5GC*iC-P-C([!s[pfxr.yoO:)n(wKy#;7Wj'
LOGGED_IN_KEY='C=x*Fyh;N`G-[M;$U,YV[vISO/}U!ROf3c:d)lQouFcy?3s.?&7MYkEdK!STU*,d'
NONCE_KEY='k+dHcMK;yu<5Ft^#3Wc}F$dBI2WPgP90G>OQ$tz%8aaJ}[1j4U&q6]E6CF!B+7Zq'
AUTH_SALT='4s8QJxOftdfleV<#C2*r}9]W:G,vxIAXg82n_WJlpdrJMULJE@0,RP-MU3HH{B03'
SECURE_AUTH_SALT='1.*COhR-FB#j2G(m/mI*0D)s8FL|asfV@=*aU6Z2Er^q.e<YdwDUZHtdSO3}9QG2'
LOGGED_IN_SALT='rc>VitXVcLROBDQBlI0Rc(9iM>nNKg/r3JiIb>P!H=X)mMb_f+/MY<?y%<6JD.5?'
NONCE_SALT='b$,Ypvr!JB9M4mC#`&Bs.9:[(EAyp5:/JZRnMU]2yEbwuiJ&.Cbc$f]gl[y/=N[w'
